body {
    color: chocolate;
}

div {
    margin: auto;
    text-align: center;
}

div ol {
    display: inline-block;
    margin: auto;
}

div ol li {
    text-align: center;
}

h2 {
    font-weight: bold;
    color: chocolate;
}

form {
    display: inline;
}

.bad-note {
    font-size: small;
    color: red;
}